# ==========================================
# CONFIGURACIÓN SQL SERVER (main_dynamic.py)
# ==========================================

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=172.21.75.11
DB_DATABASE=NombreBaseDeDatos

# autenticación SQL (ignorado si DB_WINDOWS_AUTH=True)
DB_USER=usuario_solo_lectura
DB_PASSWORD=coloca_aqui_la_password

# usar autenticación de Windows en vez de usuario/clave
DB_WINDOWS_AUTH=False

# timeout de conexión en segundos
DB_TIMEOUT=5
